/* Style global */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  background: url("../images/test_image_fond.jpg") center / cover no-repeat;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* En-tête */
header {
  background-color: #b6c5d5;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

header img {
  height: 80px;
  border-radius: 50%; /* Rond si l'image est carrée */
  margin-right: 20px;
}

header h1 {
  font-size: 1.8em;
  margin: 0;
  flex: 1;
}

/* Navigation */
nav {
  margin-top: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px; /* Simplifie les marges entre les éléments */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #34495E;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #2C3E50;
}

/* Contenu principal */
main {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

main h2 {
  color: #2C3E50;
  font-size: 1.5em;
}

main p {
  margin: 10px 0;
  line-height: 1.6;
  color: #555;
}

/* Sections */
section {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/* Animation hover pour les logos */
.social-logo .logo {
  transition: transform 0.5s ease, filter 0.5s ease; /* Transition douce */
}

.social-logo .logo:hover {
  transform: scale(1.5) rotate(20deg); /* Agrandit et incline légèrement le logo */
  filter: brightness(1.8); /* Rend le logo plus lumineux */
}
