{% load static %} <!-- inclure des fichiers statiques -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord Admin</title>
</head>
<body>
    <h1>Tableau de Bord Administrateur</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
