<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faites un don - Madcap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
</head>
<body>
    {% include 'header.html' %} <!-- Inclusion du header -->
    <main style="max-width: 1200px; margin: 20px auto; padding: 0 15px;">
        <section>
            <h2>Pourquoi faire un don ?</h2>
            <p>En soutenant l'association Madcap, vous contribuez à préserver un patrimoine maritime unique et à organiser des sorties pour les passionnés.</p>
        </section>
        <section>
            <h2>Comment faire un don ?</h2>
            <p>Veuillez nous contacter via la page <a href="/contact">Contact</a> ou effectuer un don en ligne via HelloAsso.</p>
            <div style="text-align: center; margin: 20px 0;">
                <!-- Bouton vers HelloAsso -->
                <a href="https://www.helloasso.com/associations/madcap-1874/formulaires/1?fbclid=IwY2xjawGthMRleHRuA2FlbQIxMQABHeP_8SN0ktm1aH0gfskIJkbS9keT8l8HpSY72xkPS38MELHMya0AP4jwyw_aem_2wompJnsBZWaTVpzgfuUKg"
                   target="_blank" 
                   style="background-color: #2C3E50; color: white; padding: 15px 25px; text-decoration: none; font-size: 18px; border-radius: 5px; display: inline-block;">
                    Faire un don via HelloAsso
                </a>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
</body>
</html>
