<footer style="background-color: #5487bb; color: white; padding: 20px 0; display: flex; justify-content: center; align-items: center; position: relative;">
  
  <!-- Texte centré -->
  <p style="margin: 0; text-align: center; flex: 1;">
    &copy; 2024 Madcap - Tous droits réservés <!-- Copyright message affiché au centre -->
  </p>
  
  <!-- Logos à droite -->
  <div style="position: absolute; right: 120px; top: 50%; transform: translateY(-50%); display: flex; align-items: center;">
    
    <!-- Lien vers Facebook -->
    <a href="https://www.facebook.com/profile.php?id=100080106813212&locale=fr_FR" 
       target="_blank"
       class="social-logo"
       style="text-decoration: none; margin-right: 15px; display: inline-block;"> <!-- Ajout de margin-right -->
      
      
       <!-- Icône de Facebook -->
      <img src="{{ url_for('static', filename='images/Fb_logo.png') }}" 
           alt="Logo Facebook"
           class="logo"
           style="width: 30px; height: 30px;"> <!-- Taille de l'icône Facebook -->
    </a>
    
    <!-- Lien vers YouTube -->
    <a href="https://www.youtube.com/@AssociationMadcap1874"
       target="_blank"
       class="social-logo">
       
      <!-- Icône de YouTube -->
      <img src="{{ url_for('static', filename='images/Youtube_logo.png') }}" 
           alt="Logo YouTube" 
           class="logo"
           style="width: 30px; height: 30px;"> <!-- Taille de l'icône YouTube -->
    </a>
  </div>
</footer>
