{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="top-bar">
  <!-- Lien vers Facebook -->
  <a href="https://www.facebook.com/profile.php?id=100077266193402&locale=fr_FR" target="_blank" class="social-logo facebook">
    <img src="{% static 'images/Fb_logo2.png' %}" alt="Logo Facebook" />
  </a>

  <!-- Lien vers YouTube -->
  <a href="https://www.youtube.com/@AssociationMadcap1874" target="_blank" class="social-logo youtube">
    <img src="{% static 'images/Youtube_logo.png' %}" alt="Logo YouTube" />
  </a>

  <!-- Bouton Espace Admin -->
  <a href="{% url 'admin_login' %}" class="admin-button">Espace Admin</a>
</div> <!-- Bandeau de couleur -->

<header>
  <div>
    <a href="/">
      <img src="{% static 'images/logo.png' %}" alt="Logo Madcap">
    </a>
    <h1>Madcap 1874, l'unique cotre pilote encore en état de naviguer</h1>
  </div>

  <!-- Navigation -->
  <nav>
    <ul class="nav-links">
      <li><a href="/">Accueil</a></li>
      <li><a href="/association">À propos de l'association</a></li>
      <li><a href="/histoire">L'Histoire de Madcap</a></li>
      <li><a href="/evenements">Événements</a></li>
      <li><a href="/don">Soutenir le projet</a></li>
      <li><a href="/contact">Nous Contacter</a></li>
    </ul>
  </nav>
</header>
